/* Styles ThingLink */

$red: #9f3e52;
$redrgb: rgb(201, 46, 65);
$redrgba: rgba(201, 46, 65, 0.7);
$blue: #1b0950;

#thinglink-component {
  position: relative;

  .dimmer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: 6666;
    &.black {
      background: rgba(255,255,255,.6);
    }
    &.white {
      background: rgba(255,255,255,.6);
    }
  }

  .base-container {
    position: relative;
  }

  .base-image-container {
    position: relative;
  }

  .buttons-container {
    position: absolute;
    top: 0;
    left: 0;
  }

  .absolute-button {
    margin-left: -17.5px;
    margin-top: -17.5px;

    @media screen and (max-width: 500px) {
      margin-left: -10.5px;
      margin-top: -10.5px;
    }
  }

  .pulse-button {
    position: absolute;
    width: 20px;
    height: 20px;

    @media screen and (max-width: 500px) {
      width: 21px;
      height: 21px;
    }

    border: 2px solid rgba(255,255,255,0.2);
    color: white;
    text-align: center;
    box-shadow: white;
    border-radius: 50%;
    background-color: $red;

    &.transparent {
      background-color: transparent;
      color: black;
      border: none;
      &:hover { border: none; }
    }
    &.black-border {
      border: 2px solid #282828;
    }
    &.red-border {
      border: 2px solid $red;
    }
    &.white-border {
      border: 2px solid white;
    }
    &.white {
      background-color: white;
      color: black;
    }
    &.red {
      background-color: $red;
    }
    &.orange {
      background-color: #f0781e;
    }
    &.blue {
      background-color: #413c78;
    }
    &.green {
      background-color: #2db487;
    }
    &.black {
      background-color: #292929;
    }
    background-repeat: no-repeat;
    cursor: pointer;

    &.white {
      background-color: white;
      color: #292929;
    }

    .circle-number {
      font-weight: 800;
      text-align: center;
      font-family: 'Roboto', sans-serif;
    }

    i.icon {
      position: absolute;
      top: 6px;
      left: 5px;
      font-size: 18px;
      margin: 0;
      padding: 0;
    }

    @media screen and (max-width: 500px) {
      i.icon {
        font-size: 11px;
        top: 3px;
        left: 2px;
      }
    }
  }

  .pulse-button:hover {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
    transform: scale(1.25);
    z-index: 5555;
    @media screen and (max-width: 500px) {
      z-index: 8888;
    }
  }

  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

  .fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
  }

  @-webkit-keyframes ping {
    0% {
      -webkit-transform: scale(0.2);
      transform: scale(0.2);
      opacity: 0.8;
    }
    80% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(2.2);
      transform: scale(2.2);
      opacity: 0;
    }
  }
  @keyframes ping {
    0% {
      -webkit-transform: scale(0.2);
      transform: scale(0.2);
      opacity: 0.8;
    }
    80% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(2.2);
      transform: scale(2.2);
      opacity: 0;
    }
  }

}


.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-11-15 15:49:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

