@for $i from 0 through 30 {
  .bubble-#{$i} {
    animation-delay: $i * 0.3s;
  }
}

.bubble:not(:hover) {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  will-change: transform;
  // transform: translate(0, 0);
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  25% {
    transform: translate(0, -5px);
  }
  75% {
    transform: translate(0, 5px);
  }
  to {
    transform: translate(0, 0px);
  }
}
